# Preprocessamento parte 1

In [4]:
import pandas as pd

In [5]:
# leitura de dados
df = pd.read_csv('exemplo.csv')

In [6]:
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN
3   NaN   NaN   NaN  NaN
4   2.0   3.0   4.0  5.0

## Checagem de valores nulos/faltantes

In [7]:
# df.isnull() é a mesma coisa da linha a baixo
df.isna()

       A      B      C      D
0  False  False  False  False
1  False  False   True  False
2  False  False  False   True
3   True   True   True   True
4  False  False  False  False

In [8]:
# pega a quantidade de valores nulos para cada coluna
df.isna().sum()

A    1
B    1
C    2
D    2
dtype: int64

## Eliminar amostrar com valores faltantes.

In [9]:
# da um drop nas linhas que tem valores nulos
# isso não altera o df original, a não ser que você coloque em uma variável
# df.dropna(axis=0, inplace=True), o implace altera o dataframe original.
df.dropna(axis=0)
# Usando o axis=1 voce exclui toda a coluna, o que não é uma boa solução

     A    B    C    D
0  1.0  2.0  3.0  4.0
4  2.0  3.0  4.0  5.0

## Eliminar features com valores faltantes

In [10]:
df.dropna(axis=1) # drop nas colunas que tem valores NaN, nesse caso, todas as colunas tem

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [11]:
df.dropna(how='all') # elimina apenas quando todos os valores de uma linha são NaN

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN
4   2.0   3.0   4.0  5.0

In [12]:
# Elimina colunas com 2 ou mais valores NaN
df.dropna(thresh=2)

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN
4   2.0   3.0   4.0  5.0

In [13]:
# Cria um novo conjunto que não contem a coluna C nula.
df.dropna(subset=['C'])

      A     B     C    D
0   1.0   2.0   3.0  4.0
2  10.0  11.0  12.0  NaN
4   2.0   3.0   4.0  5.0

In [14]:
# Aqui ele meche com o eixo das linhas, por isso precisa especificar o número
df.drop(labels=[0,1])

      A     B     C    D
2  10.0  11.0  12.0  NaN
3   NaN   NaN   NaN  NaN
4   2.0   3.0   4.0  5.0

In [15]:
# Elimina as colunas especificadas já que é o eixo 1 ou eixo das colunas
df.drop(labels=['A','C'], axis=1)

      B    D
0   2.0  4.0
1   6.0  8.0
2  11.0  NaN
3   NaN  NaN
4   3.0  5.0

In [16]:
# dataframe normal
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN
3   NaN   NaN   NaN  NaN
4   2.0   3.0   4.0  5.0

# Assinalar valores aos faltantes

In [17]:
from sklearn.preprocessing import Imputer

In [18]:
df_ = df.dropna(how='all')
 # mata linhas com todos os valores nulos

In [54]:

# aqui o eixo 0 é o eixo das colunas
prep = Imputer(missing_values='NaN', strategy='mean', axis=0)
prep = prep.fit(df_)
dados = prep.transform(df_)
dados

C:\Users\Jonas Lopes\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

array([[ 1.        ,  2.        ,  3.        ,  4.        ],
       [ 5.        ,  6.        ,  6.33333333,  8.        ],
       [10.        , 11.        , 12.        ,  5.66666667],
       [ 2.        ,  3.        ,  4.        ,  5.        ]])

In [20]:
## Se quiser recriar um dataframe
# pd..DataFrame(dados, columns = df_.columns)

In [21]:
# caso queira instalar algo para o conda, mas como já tenho o anaconta então não precisa
# !conda install xlrd

In [22]:
df2 = pd.read_excel('planilha1.xlsx')

In [23]:
df2

   color size  price   label
0  green    M   10.1  class1
1    red    L   13.5  class2
2   blue   XL   15.3  class1

In [24]:
tam = {'M':1, 'L':2, 'XL':3}

In [25]:
# criando um dicionário invertido em Python
tam_inv = { v: k for k, v in tam.items() }
tam_inv

{1: 'M', 2: 'L', 3: 'XL'}

In [26]:
# se quiser inverter é só fazer: df2['size'] = df2['size'].map(tam)
df2['size'] = df2['size'].map(tam)
df2

   color  size  price   label
0  green     1   10.1  class1
1    red     2   13.5  class2
2   blue     3   15.3  class1

In [27]:
df2['label'].unique()

array(['class1', 'class2'], dtype=object)

In [28]:
for i, o in enumerate(df2['label'].unique()): # i indice o objeto
    print(i, o)

0 class1
1 class2

In [48]:
# criando dicionario onde o label_num é um mapa para o label categórico
labels_num = { v: k for k, v in enumerate(df2['label'].unique()) }
labels_num

{0: 0, 1: 1}

In [30]:
df2['label'] = df2['label'].map(labels_num)
df2

   color  size  price  label
0  green     1   10.1      0
1    red     2   13.5      1
2   blue     3   15.3      0

In [31]:
pd.get_dummies(df2['color'], drop_first=True)

   green  red
0      1    0
1      0    1
2      0    0

In [32]:
pd.get_dummies(df2, drop_first=True) 
# transforma uma feature em 3 features, onde cada feature é binária.
# quando as features não são ordenadas, podemos usar o one hot encoding para lidar com isso
# se eu tiver n colors eu represento com n-1 features

   size  price  label  color_green  color_red
0     1   10.1      0            1          0
1     2   13.5      1            0          1
2     3   15.3      0            0          0

# Usando o scikit para transformar features categórica em numérica

In [33]:
# usando o scikit para transformar features categóricas em numéricas

In [34]:
from sklearn.preprocessing import LabelEncoder

In [35]:
df3 = pd.read_excel('planilha1.xlsx')

In [36]:
df3

   color size  price   label
0  green    M   10.1  class1
1    red    L   13.5  class2
2   blue   XL   15.3  class1

In [49]:
le = LabelEncoder()
le.fit_transform(df3['label'])

array([0, 1, 0], dtype=int64)

In [50]:
df3['label'] = le.fit_transform(df3['label'])
df3['label']

0    0
1    1
2    0
Name: label, dtype: int64

In [51]:
le.inverse_transform(df3['label'])

array([0, 1, 0])

In [40]:
df3

   color size  price  label
0  green    M   10.1      0
1    red    L   13.5      1
2   blue   XL   15.3      0

In [41]:
df3['label']

0    0
1    1
2    0
Name: label, dtype: int32

In [42]:
!pip install sklearn

Requirement already satisfied: sklearn in c:\users\jonas lopes\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\jonas lopes\anaconda3\lib\site-packages (from sklearn) (0.20.1)
Requirement already satisfied: numpy>=1.8.2 in c:\users\jonas lopes\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.15.4)
Requirement already satisfied: scipy>=0.13.3 in c:\users\jonas lopes\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.1.0)

In [43]:
import sklearn
sklearn.__version__

'0.20.1'

# Fazendo o one-hot-encodong com o scikit

In [44]:
from sklearn.preprocessing import OneHotEncoder

In [52]:
le = LabelEncoder()
df3['color'] = le.fit_transform(df3['color'])
df3

   color  size  price  label
0      1     1   10.1      0
1      2     2   13.5      1
2      0     3   15.3      0

In [46]:
df3['size'] = df3['size'].map(tam)
df3

   color  size  price  label
0      1     1   10.1      0
1      2     2   13.5      1
2      0     3   15.3      0

In [53]:
ohe = OneHotEncoder(categorical_features=[0], sparse=False)
ohe.fit_transform(df3)

C:\Users\Jonas Lopes\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:368: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\Jonas Lopes\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:390: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

array([[ 0. ,  1. ,  0. ,  1. , 10.1,  0. ],
       [ 0. ,  0. ,  1. ,  2. , 13.5,  1. ],
       [ 1. ,  0. ,  0. ,  3. , 15.3,  0. ]])